h1 Activate your account

p Please click the following url to activate your account:

p
	a(href!="#{url}") !{url}

p If you did not create an account, disregard this email.

p
	| Regards,
	br
	| Your Support Team