h1 You have been invited

p You have been invited. Please click the following url to activate your account:

p
	a(href!="#{url.accept}") !{url.accept}

p If you did not request this, click the following url.

p
	a(href!="#{url.reject}") !{url.reject}

p
	| Regards,
	br
	| Your Support Team