h1 Password reset

p Please click the following url to reset your password:

p
	a(href!="#{url}") !{url}

p If you did not request a password reset, disregard this email.

p
	| Regards,
	br
	| Your Support Team